
<%= link_to 'New article', new_article_path %>



<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit 'Submit'%>
  </p>
<% end %>

